@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600|Bai+Jamjuree:400,700&display=swap&subset=thai');

body {
  font-family: 'Bai Jamjuree', sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.8;
}

span.nowrap {
  white-space: nowrap;
}